{% extends 'base.html.twig' %} 
{% block title %}Hello MoviesController!{% endblock %}

{% block stylesheets %}
<style>


    .container {
        background-color: white;
      
     
      
        
    }

    body {
        margin: 0px;
        padding: 0px;
        background-image: url('{{ movie.cover }}');
        background-repeat: no-repeat;
        background-size: cover;

    }
    
    .card {
        align-items: center;
        border-radius:10px;
        margin-top: 10px;
    }

    h1 {
        margin-top: 50Px;
        padding-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        font-family: Open Sans,sans-serif;
        text-transform: uppercase;
        


    }

    .col-md-8 {
        margin-top: 20px;
    }

    #despription, h2 {
        
        font-family: HelveticaNeueLTStd-Roman,sans-serif;
        position: relative;
        cursor: pointer;
        display: inline;
        margin-right: 25px;
        text-transform: uppercase;
      
        padding-bottom: 50px;
        font-size: 1.4rem;
        line-height: 30px;
      
            
    }
    h2 {
        margin-top: 50px;;
    }
   .inline li {
        display: inline;
        font-size: 0.8rem;
        font-weight: 700;
        line-height: 0.5em;
        text-align: center;
        text-decoration: none;
        border-radius: 20px;
        padding: 12px 30px;
        background-color: #ff7200;
        border: none;
        color: #fff;
}
       
   
        
</style>

{% endblock %}



{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg">
        
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#"> Découvrir HomeCine</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Abonnés<span class="sr-only">(current)</span></a>
        </li>
        
        
        </ul>
        
    </div>
</nav>

<div class="container">
    <h1>{{ movie.name }}</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ movie.cover }}" class="card-img-top" alt="...">
                    
            </div>
        </div>
        <div class="col-md-8">
            <h2> présentation</h2>
            <ul class= "inline">
                <li>Date: {{ movie.date.format("d/m/Y") }}</li>
                <li>Autheur: <a href="{{ path('author', { id: movie.author.id }) }}">{{ movie.author.name }}  </a></li>
                <li>Catégorie: {% for category in movie.category %} {{ category.name }} {% endfor %}</li>
            </ul>
            <h3>Synopsis</h3>
            <div id="description">
                {{ movie.description }}
            </div>
            
                      
        </div>
          
        
    </div>
    
    
       
            

    

</div>
{% endblock %}